.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border: solid;
}
.header{    
    display: flex;
    align-items: center;
    justify-content: center;
}
#clear-btn{
    min-height: 40px;
    border: 2px solid rgba(212, 43, 43, 0.8);
    border-radius: 10%;
    text-align: center;
    background-color: transparent;
}
#chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#username{
    min-width: 50%;
    min-height: 40px;
    border: 2px solid rgba(212, 43, 43, 0.8);
    border-radius: 10px;
}
#messages{
    height: 300px;
}